//
// Codebase UI Framework
// --------------------------------------------------

// Bootstrap functions
@import 'bootstrap/functions';

// User variables (your own variable overrides)
@import 'custom/variables';

// Custom Bootstrap variables overrides
@import 'codebase/variables-bootstrap';

// Bootstrap variables
@import 'bootstrap/variables';

// Bootstrap maps
@import 'bootstrap/maps';

// Bootstrap mixins
@import 'bootstrap/mixins';

// Custom mixins and Bootstrap overrides
@import 'codebase/mixins';

// Bootstrap Utilities
@import 'bootstrap/utilities';

// Custom utilities and Bootstrap overrides
@import 'codebase/utilities';

// Bootstrap components (original)
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/containers';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/transitions';
@import 'bootstrap/dropdown';
@import 'bootstrap/button-group';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/card';
@import 'bootstrap/accordion';
@import 'bootstrap/breadcrumb';
@import 'bootstrap/pagination';
@import 'bootstrap/badge';
@import 'bootstrap/alert';
@import 'bootstrap/progress';
@import 'bootstrap/list-group';
@import 'bootstrap/close';
@import 'bootstrap/toasts';
@import 'bootstrap/modal';
@import 'bootstrap/tooltip';
@import 'bootstrap/popover';
@import 'bootstrap/carousel';
@import 'bootstrap/spinners';
@import 'bootstrap/offcanvas';
@import 'bootstrap/placeholders';

// Bootstrap Helpers
@import 'bootstrap/helpers';

// Bootstrap Utilities
@import 'bootstrap/utilities/api';

// Custom variables
@import 'codebase/variables';
@import 'codebase/variables-themes';

// Extend Bootstrap styles and override the ones..
// ..we can't alter with the provided variables
@import 'codebase/reboot';
@import 'codebase/type';
@import 'codebase/grid';
@import 'codebase/tables';
@import 'codebase/forms';
@import 'codebase/buttons';
@import 'codebase/transitions';
@import 'codebase/dropdown';
@import 'codebase/nav';
@import 'codebase/card';
@import 'codebase/breadcrumb';
@import 'codebase/pagination';
@import 'codebase/modal';
@import 'codebase/print';

// Codebase layout
@import 'codebase/layout';
@import 'codebase/header';
@import 'codebase/sidebar';
@import 'codebase/side-overlay';
@import 'codebase/layout-variations';
@import 'codebase/hero';
@import 'codebase/block';

// Codebase components
@import 'codebase/page-loader';
@import 'codebase/nav-main';
@import 'codebase/images';
@import 'codebase/lists';
@import 'codebase/item';
@import 'codebase/overlay';
@import 'codebase/timeline';
@import 'codebase/ribbon';

// Helpers
@import 'codebase/helpers';

// Third party components
@import 'vendor/animate';
@import 'vendor/fontawesome/fontawesome';
@import 'vendor/fontawesome/regular';
@import 'vendor/fontawesome/solid';
@import 'vendor/fontawesome/brands';
@import 'vendor/simple-line-icons';
@import 'vendor/simplebar';

// Third party plugins (style overrides)
@import 'vendor/bootstrap-datepicker';
@import 'vendor/ckeditor';
@import 'vendor/dropzone';
@import 'vendor/datatables';
@import 'vendor/easy-pie-chart';
@import 'vendor/fullcalendar';
@import 'vendor/highlightjs';
@import 'vendor/ion-range-slider';
@import 'vendor/jquery-sparkline';
@import 'vendor/jvector-map';
@import 'vendor/pw-strength';
@import 'vendor/select2';
@import 'vendor/simplemde';
@import 'vendor/slick';
@import 'vendor/simplebar';
@import 'vendor/nestable2';
@import 'vendor/flatpickr';

// RTL Support
@import 'codebase/rtl-support';

// Dark mode
@import 'codebase/dark-mode';

// User styles (your own styles/overrides)
@import 'custom/main';


#spinner-div {
    position: absolute;
    display: none;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    z-index: 9999;
}
